<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<div class="container" style="margin-top: 120px;">
  <h2>Image Gallery</h2>
  <p>The .thumbnail class can be used to display an image gallery.</p>
  <p>The .caption class adds proper padding and a dark grey color to text inside thumbnails.</p>
  <p>Click on the images to enlarge them.</p>
  <div class="row">
    <div class="col-md-4">
      <div class="thumbnail">
          <%= link_to image_tag("menus/breakfast.jpg", alt: "Breakfast Menu"), menu_path(:menu => 0) %>
          <div class="caption">
            <p>Lorem ipsum donec id elit non mi porta gravida at eget metus.</p>
          </div>
        </a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
          <%= link_to image_tag("menus/lunch.jpg", alt: "Lunch Menu"),
            menu_path(:menu => 1) %>
          <div class="caption">
            <p>Lorem ipsum donec id elit non mi porta gravida at eget metus.</p>
          </div>
        </a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        <%= link_to image_tag("menus/happyhour.jpg", alt: "Happy Hour Menu"),
            menu_path(:menu => 2) %>
          <div class="caption">
            <p>Lorem ipsum donec id elit non mi porta gravida at eget metus.</p>
          </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        <%= link_to image_tag("menus/dinner.jpg", alt: "Dinner Menu"),
            menu_path(:menu => 3) %>
          <div class="caption">
            <p>Lorem ipsum donec id elit non mi porta gravida at eget metus.</p>
          </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        <%= link_to image_tag("menus/latenight.jpg", alt: "Late Night Menu"), menu_path(:menu => 4) %>
          <div class="caption">
            <p>Lorem ipsum donec id elit non mi porta gravida at eget metus.</p>
          </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        <%= link_to image_tag("menus/brunch.jpg", alt: "Brunch Menu"),
            menu_path(:menu => 5) %>
          <div class="caption">
            <p>Lorem ipsum donec id elit non mi porta gravida at eget metus.</p>
          </div>
      </div>
    </div>


  </div>
</div>

</body>
</html>