
  <nav>
  <div class="nav nav-tabs" id="nav-tab" role="tablist">
    <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Home</a>
    <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Business</a>
    <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">University</a>
    <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">Military</a>
    <a id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false"><%= link_to "Add New", new_admin_user_address_path(@user), class: "nav-item nav-link" %></a>
    <a  id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false"><%= link_to "Edit or Delete Addresses", edit_admin_user_address_path(@user), class: "nav-item nav-link" %></a>
    </div>
</nav>

  <div class="tab-content" id="nav-tabContent">
  <% @user.addresses.each do |address|%>
    <% if address.address_type == "Residence"%>
      <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
        <%= render 'users/partials/address', :address => address %>
      </div>
    <% elsif address.address_type == "Business" %>
      <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
      <%= render 'users/partials/address', :address => address %> 
      </div>
    <% elsif address.address_type == "University"%>
      <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
      <%= render 'users/partials/address', :address => address %> 
      </div>
    <% else %>
      <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
      <%= render 'users/partials/address', :address => address %> 
      </div>
    <% end %>
  <% end %>
  </div>



