

<div class="container" style="margin-top: 140px; margin-bottom: 30px;">
    <div class="row">
        <div class="well col-lg-12" >
            <div class="row">
                <div class="col-xs-6 col-sm-6 col-md-6">
                    <address>
                        <strong>Got Carbs??</strong>
                        <br>
                        2135 Sunset Blvd
                        <br>
                        Los Angeles, CA 90026
                        <br>
                        <abbr title="Phone">P:</abbr> (213) 484-6829
                    </address>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6 text-right">
                    <p>
                        <em>Today's Date: <%= DateTime.now.strftime("%B %d, %Y")%></em>
                    </p>
                    <p>
                        <em>Order #: <%= @order.id %> </em>
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="text-center">
                    <h1>Receipt</h1>
                </div>
                </span>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Items</th>
                            <th>#</th>
                            <th class="text-center">Price</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% @order.ordered_items.each do |order_item| %>
                        <tr>
                            <td class="col-md-9"><em><%= order_item.item.name %>
        
                            </em></h4></td>
                            <td class="col-md-1" style="text-align: center"><%= order_item.quantity%> </td>
                            <td class="col-md-1 text-center">$<%= order_item.item.price %></td>
                            <td class="col-md-1 text-center"><%= link_to "Delete", ordered_item_path(order_item), method: :delete %></td>
                            <td class="col-md-1 text-center"><%= link_to "Add", add_to_order_path(order_item) %></td>
                            <td class="col-md-1 text-center"><%= link_to "Minus", minus_from_order_path(order_item) %></td>
                        </tr>
                        <% end %>
                        <tr>
                            <td>   </td>
                            <td>   </td>
                            <td class="text-right">
                            <p>
                                <strong>Subtotal: </strong>
                            </p>
                            <p>
                                <strong>Tax: </strong>
                            </p></td>
                            <td class="text-center">
                            <p>
                                <strong>$<%= @order.subtotal%></strong>
                            </p>
                            <p>
                                <strong>$<%= @order.tax%></strong>
                            </p></td>
                        </tr>
                        <tr>
                            <td>   </td>
                            <td>   </td>

        
                            <td class="text-right"><h4><strong>Total: </strong></h4></td>
                            <td class="text-center text-danger"><h4><strong>$<%= @order.total %></strong></h4></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>  
</div>