
<div class="row">
  <div class="col-sm-3 col-md-2 col-5">
    <label style="font-weight:bold;">Street Address</label>
  </div>
  <div class="col-md-8 col-6">
    <%= address.street_address %>
  </div>
</div>
<hr />
<div class="row">
  <div class="col-sm-3 col-md-2 col-5">
    <label style="font-weight:bold;">Unit Type</label>
  </div>
  <div class="col-md-8 col-6">
    <%= address.unit_type %>
  </div>
</div>
<hr />
<div class="row">
  <div class="col-sm-3 col-md-2 col-5">
    <label style="font-weight:bold;">City</label>
  </div>
  <div class="col-md-8 col-6">
    <%= address.city %>
  </div>
</div>
<hr />
<div class="row">
  <div class="col-sm-3 col-md-2 col-5">
    <label style="font-weight:bold;">State</label>
  </div>
  <div class="col-md-8 col-6">
    <%= address.state %>
  </div>
</div>
<hr />

<div class="row">
  <div class="col-sm-3 col-md-2 col-5">
    <label style="font-weight:bold;">Zip Code</label>
  </div>
  <div class="col-md-8 col-6">
    <%= address.zipcode %>
  </div>
</div>
<hr />