<%= simple_form_for(@user, url: yield(:path)) do |f| %>
  <div class="container" style="margin-top: 140px; margin-bottom: 30px;">
    <div class="row"> 
      <div class="form-group col-md-6">
        <%= f.input :first_name, placeholder: "Type first name here" %>
      </div>
      <div class="form-group col-md-6">
        <%= f.input :last_name, placeholder: "Type last name here" %>
      </div>
      <div class="clearfix"></div>
      <div class="form-group col-md-6">
        <%= f.input :password, placeholder: "Type password here" %>
      </div>
      <div class="form-group col-md-6">
        <%= f.input :password_confirmation, placeholder: "Type password confirmation here" %>
      </div>
      <div class="clearfix"></div>
      <div class="form-group col-md-6">
        <%= f.input :email, placeholder: "Type email here" %>
      </div>
      <div class="form-group col-md-6">
        <%= f.input :phone_number, placeholder: "Type phone number here" %>
      </div>
      <div class="clearfix"></div>
      <div class="form-group col-md-6">
        <%= f.input(:birthday,  {label: "Earn more points as your birthday nears ", discard_year: true, default: {year: 1800}}) %>
      </div>
      <div class="clearfix"></div>
      <div class="form-group col-md-12">
        <p>I understand & agree to the Terms and Conditions and that my information will be used as described on this page and in the Privacy Policy.</p>
        <%= f.input :terms, as: :radio_buttons %><br>
      </div>
        <div class="form-group col-md-6">
        <%= f.input :email_list, as: :radio_buttons %>
      </div>
        <%= f.submit yield(:button_text), class: 'btn btn-primary btn-block' %>
    </div>
  </div>
<% end %>
  