
<div class="container" style="margin-top: 120px; margin-bottom: 30px;">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <div class="row">
           <div class="col-12">
            <ul class="nav nav-tabs mb-4" id="myTab" role="tablist">
              <li class="nav-item">
                <a class="nav-link active" id="basicInfo-tab" data-toggle="tab" href="#basicInfo" role="tab" aria-controls="basicInfo" aria-selected="true">Info</a>
              </li>
              <li class="nav-item" style="padding: 4px;">
                <a class="nav-link active" id="basicInfo-tab" data-toggle="tab" href="#basicInfo">
                <%= link_to "Edit", edit_admin_user_path(@user) %></a>
              </li>
              <li class="nav-item" style="padding: 4px;">
                <a class="nav-link active" id="basicInfo-tab" data-toggle="tab" href="#basicInfo">
                <%= link_to "Delete", admin_user_path(@user), method: :delete,
                                  data: { confirm: "You sure?" } %></a>
              </li>
          </ul>
          <div class="tab-content ml-1" id="myTabContent">
            <div class="tab-pane fade show active" id="basicInfo" role="tabpanel" aria-labelledby="basicInfo-tab">      
              <div class="row">
                <div class="col-sm-3 col-md-2 col-5">
                  <label style="font-weight:bold;">Name:</label>
                 </div>
                  <div class="col-md-8 col-6">
                    <%= @user.first_name %>
                      </div>
                  </div>
                  <hr />
                  <div class="row">
                    <div class="col-sm-3 col-md-2 col-5">
                      <label style="font-weight:bold;">Last Name:</label>
                      </div>
                      <div class="col-md-8 col-6">
                        <%= @user.last_name %>
                      </div>
                  </div>
                  <hr />
                  <div class="row">
                    <div class="col-sm-3 col-md-2 col-5">
                      <label style="font-weight:bold;">Birth Date:</label>
                    </div>
                      <div class="col-md-8 col-6">
                        <%= @user.birthday %>
                      </div>
                  </div>
                  <hr />
                  <div class="row">
                    <div class="col-sm-3 col-md-2 col-5">
                      <label style="font-weight:bold;">Email:</label>
                    </div>
                      <div class="col-md-8 col-6">
                          <%= @user.email %>
                      </div>
                  </div>
                  <hr />
                  <div class="row">
                      <div class="col-sm-3 col-md-2 col-5">
                          <label style="font-weight:bold;">Phone Number</label>
                      </div>
                      <div class="col-md-8 col-6">
                          <%= @user.phone_number %>
                      </div>
                  </div>
                  <hr />
                  <%= render 'admin/users/partials/user_addresses' %>
                  <hr />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>