<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>Bootstrap 4 Navbar with Logo Image</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<style type="text/css">
    .bs-example{
        margin: 10px;
    }
</style>

<div class="bs-example">
    <nav class="navbar navbar-expand-md navbar-light bg-light">
      <%= link_to image_tag("logo.jpeg", alt: "GotCarbs", class: "navbar-brand"), '#', id: "logo" %>
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav">
              <li><%= link_to "Home",   '#', class: "nav-item nav-link active"  %></li>
              <li><%= link_to "Contact",   '#', class: "nav-item nav-link" %></li>
              <li><%= link_to "About", '#', class: "nav-item nav-link" %></li>
              <li><%= link_to "Menus", '#', class: "nav-item nav-link" %></li>
              <li><%= link_to "Offers", '#', class: "nav-item nav-link" %></li>
            </div>
            <div class="navbar-nav ml-auto">
                <li><%= link_to "Log In", '#', class: "nav-item nav-link" %></li>
            </div>
        </div>
    </nav>
</div>